In [2]:
import csv
import pymongo
from datetime import datetime
import pandas as pd

# MongoDB connection
client = pymongo.MongoClient("mongodb+srv://watershed:watershed@cluster0.bchriqh.mongodb.net/?retryWrites=true&w=majority")
db = client["station_ebike_changes"]
collection = db["ebike_ride_events"]

In [11]:
docs = collection.find().limit(5)


for d in docs:
    print(d)

a = d

{'_id': '00967b8f-1a4d-4131-a65a-17fa8ca89e28', 'num_ebikes_available': '1', 'gain_loss': '-1', 'window_start': '1680122601', 'window_end': '1680122601'}
{'_id': '00d3e65e-b614-4408-aaa9-939ed96ce645', 'num_ebikes_available': '5', 'gain_loss': '-1', 'window_start': '1680122574', 'window_end': '1680122574'}
{'_id': '062f0ac2-b3b6-4c15-b470-92ce9b592635', 'num_ebikes_available': '1', 'gain_loss': '-1', 'window_start': '1680122517', 'window_end': '1680122611'}
{'_id': '09dfc0e3-a448-477c-bb3c-9467dc51ef8d', 'num_ebikes_available': '3', 'gain_loss': '-1', 'window_start': '1680122577', 'window_end': '1680122577'}
{'_id': '0fde06c2-632c-46a9-8866-f4e855604f74', 'num_ebikes_available': '5', 'gain_loss': '-1', 'window_start': '1680122394', 'window_end': '1680122394'}

In [4]:
start_time = datetime.fromtimestamp(int(a['window_start']))
end_time = datetime.fromtimestamp(int(a['window_end']))
station_id = a['_id']

In [12]:
df = pd.read_csv('../raw/202003-citibike-tripdata.csv', parse_dates=['starttime', 'stoptime'])

df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.640,2020-03-01 00:26:32.986,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1
1,389,2020-03-01 00:00:16.756,2020-03-01 00:06:46.062,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2
2,614,2020-03-01 00:00:20.058,2020-03-01 00:10:34.220,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,1
3,597,2020-03-01 00:00:24.351,2020-03-01 00:10:22.339,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,1
4,1920,2020-03-01 00:00:26.112,2020-03-01 00:32:26.268,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,1

In [6]:
# now we have to loop over the rows in the historical data 
t0 = start_time
t1 = end_time
#should work once we have data for comparison 
mask = ((df['start station id'] == station_id) & (df['starttime'] >= t0) & (df['starttime'] <= t1)) | ((df['stoptime'] >= t0) & (df['stoptime'] <= t1))

filtered_df = df[mask]

In [7]:
filtered_df

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []