In [1]:
import csv
import pymongo
from datetime import datetime
import pandas as pd

# MongoDB connection
client = pymongo.MongoClient("mongodb+srv://watershed:watershed@cluster0.bchriqh.mongodb.net/?retryWrites=true&w=majority")
db = client["station_ebike_changes"]
collection = db["ebike_ride_events"]

In [2]:
docs = collection.find().limit(5)


for d in docs:
    print(d)

a = d

{'_id': '00967b8f-1a4d-4131-a65a-17fa8ca89e28', 'num_ebikes_available': '1', 'gain_loss': '-1', 'window_start': '1680122601', 'window_end': '1680122601'}
{'_id': '00d3e65e-b614-4408-aaa9-939ed96ce645', 'num_ebikes_available': '5', 'gain_loss': '-1', 'window_start': '1680122574', 'window_end': '1680122574'}
{'_id': '062f0ac2-b3b6-4c15-b470-92ce9b592635', 'num_ebikes_available': '1', 'gain_loss': '-1', 'window_start': '1680122517', 'window_end': '1680122611'}
{'_id': '09dfc0e3-a448-477c-bb3c-9467dc51ef8d', 'num_ebikes_available': '3', 'gain_loss': '-1', 'window_start': '1680122577', 'window_end': '1680122577'}
{'_id': '0fde06c2-632c-46a9-8866-f4e855604f74', 'num_ebikes_available': '5', 'gain_loss': '-1', 'window_start': '1680122394', 'window_end': '1680122394'}

In [3]:
start_time = datetime.fromtimestamp(int(a['window_start']))
end_time = datetime.fromtimestamp(int(a['window_end']))
station_id = a['_id']

In [6]:
df = pd.read_csv('../../raw/202303-citibike-tripdata.csv', parse_dates=['started_at', 'ended_at'])

C:\Users\lakeh\AppData\Local\Temp\ipykernel_14084\1649169517.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../raw/202303-citibike-tripdata.csv', parse_dates=['started_at', 'ended_at'])

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EAB9FFEAB7BDBAF2,classic_bike,2023-03-15 18:11:59,2023-03-15 18:18:38,6 Ave & W 33 St,6364.07,9 Ave & W 22 St,6266.06,40.748423,-73.988208,40.745497,-74.001971,member
1,B57211E2408E604F,classic_bike,2023-03-18 21:05:59,2023-03-18 21:10:51,6 Ave & W 33 St,6364.07,W 35 St & 9 Ave,6569.09,40.749134,-73.988536,40.754145,-73.996089,member
2,9411DD44FB7406A9,classic_bike,2023-03-16 10:16:15,2023-03-16 10:24:27,6 Ave & W 33 St,6364.07,W 35 St & 9 Ave,6569.09,40.749013,-73.988484,40.754145,-73.996089,member
3,DC2D4F90D746F435,classic_bike,2023-03-01 06:55:20,2023-03-01 07:05:44,E 5 St & Ave A,5626.06,8 Ave & W 31 St,6450.05,40.724775,-73.983742,40.750585,-73.994685,member
4,63874304EFBD61EE,classic_bike,2023-03-02 23:21:02,2023-03-02 23:42:19,3 Ave & Schermerhorn St,4437.01,Greenpoint Ave & Manhattan Ave,5785.05,40.686803,-73.979754,40.730260,-73.953940,member

In [17]:
df[df['rideable_type']=='electric_bike'].shape

(432901, 13)

In [8]:
# now we have to loop over the rows in the historical data 
t0 = start_time
t1 = end_time
#should work once we have data for comparison
mask = ((df['start_station_id'] == station_id) & (df['started_at'] >= t0) & (df['started_at'] <= t1)) | ((df['ended_at'] >= t0) & (df['ended_at'] <= t1))

filtered_df = df[mask]

In [12]:
filtered_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
528037,42345EF1A1E94590,classic_bike,2023-03-29 16:22:51,2023-03-29 16:39:54,Morton St & Washington St,5772.05,N Moore St & Hudson St,5470.02,40.731150,-74.008870,40.719961,-74.008443,casual
742586,F8E8E37AB8B2A426,electric_bike,2023-03-29 16:36:16,2023-03-29 16:39:54,Irving Ave & Harman St,4856.05,Suydam St & St. Nicholas Ave,5043.06,40.701080,-73.917900,40.706360,-73.919450,member
823464,E698423EAF773217,electric_bike,2023-03-29 16:34:59,2023-03-29 16:39:54,W 27 St & 7 Ave,6247.06,W 26 St & 10 Ave,6382.05,40.746647,-73.993915,40.749718,-74.002950,member
995565,213E974035AA6A23,classic_bike,2023-03-29 16:35:18,2023-03-29 16:39:54,Kingsland Ave & Nassau Ave,5613.04,Calyer St & Jewel St,5743.02,40.725770,-73.941730,40.729840,-73.948390,member
2136753,FA6B812BEA9553E0,electric_bike,2023-03-29 16:34:25,2023-03-29 16:39:54,E 40 St & Park Ave,6432.11,W 31 St & 7 Ave,6331.01,40.750756,-73.978326,40.749156,-73.991600,member